.user-avatar {
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
}

.example-card {
  max-width: 600px;
  margin: 0 auto 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  border-radius: 10px;
}

.desc {
  max-width: 560px;
}
