.input-file {
  border-bottom: 1px solid #000;
  outline: none;
}

.form-field {
  width: 800px;
  margin: 0 auto 20px;
}

.desc-area {
  resize: none;
}

.submit-btn {
  margin: 0 auto;
  width: 800px;
}
