<app-header></app-header>
<div class="container">
  <h1 class="text-center">Create your post</h1>

  <form [formGroup]="postForm" class="post-form flex flex-col mt-16">
    <div class="form-field image flex flex-col">
      <input type="file" (change)="selectImage($event)" formControlName="imageUrl">
    </div>
    <mat-form-field class="form-field">
      <mat-label>Enter your title</mat-label>
      <input formControlName="title" matInput placeholder="Enter your title">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Enter your description</mat-label>
      <textarea formControlName="text" class="desc-area" matInput placeholder="Enter your description"></textarea>
    </mat-form-field>

    <button (click)="onSubmit()" class="submit-btn" mat-raised-button color="primary">CREATE A POST</button>
  </form>
</div>
