<h2 class="text-center" *ngIf="allPosts?.length === 0">No posts yet...</h2>
<ng-container *ngFor="let posts of allPosts">
  <div [routerLink]="'post/' + posts._id" class="example-card w-full">
    <img
      class="w-full mb-4 cursor-pointer"
      [src]="posts.imageUrl"
      alt="photo"
    />
    <div class="card-content ml-5 mb-5">
      <div>
        <h1 class="cursor-pointer">{{ posts.title }}</h1>
      </div>
      <p>Author: {{ posts.user?.fullName }}</p>
      <p>Created at: {{ posts.createdAt }}</p>
      <div>
        <h3>Description: </h3>
        <p class="desc">{{ posts.text }}</p>
      </div>
      <div class="flex items-center pb-5">
        <mat-icon class="block mr-2">remove_red_eye</mat-icon>
        <div>{{ posts.viewsCount }}</div>
      </div>
      </div>
  </div>
</ng-container>
